{% extends "paginas/index.html" %}

{% load static %}

{% block conteudo %}


<header>
    <h3> Lista de Categoria </h3>
</header>

<a href="{% url "adicionar-categoria" %}">Adicionar Categoria</a>

<br>

<table>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Opções</th>
    </tr>

    {% for categoria in object_list %}
    <tr>
        <td>{{categoria.nome}}</td>
        <td>{{categoria.descricao}}</td>
        

        <td>
            <a href="{% url "editar-categoria" categoria.pk %}">Editar</a>
            <a href="{% url "excluir-categoria" categoria.pk %}">Excluir</a>
        </td>

    </tr>

    {% empty %}
    <tr>
        <td colspan="2"> Nenhum registro encontrado.</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}