{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block titulo %} 
    <title> Impactos Ambientais</title>
    {% endblock titulo %}

    <link rel = "stylesheet" href = "{% static 'css/estilo.css' %}">
    
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url "index" %}">Inicio</a><li>
            <a href="{% url "sobre" %}">Sobre nós</a>
            {% if request.user.is_authenticated %}
            <li><a href="{% url "listar-categoria" %}">Categoria</a></li>
            <li><a href="{% url "listar-noticia" %}">Noticia</a></li>
            <li><a href="{% url "listar-midia" %}">Midia</a></li>
            <li><a href="{% url "listar-comentario" %}">Comentario</a></li>

        <li><a href="{% url "senha" %}">Atualizar senha</a></li>

            <li><a href="{% url "logout" %}">Sair</a></li>

            {% else %}

            <li><a href="{% url "login" %}">Entrar</a> </li>

            {% endif %}

        </ul>
    </nav>


    <main>

        {%  block conteudo  %}
        <h3>Página inicial</h3>
        
        <p> O Futuro do Planeta Está em Nossas Mãos!
            Ações humanas estão transformando o mundo de maneiras irreversíveis. 
            O aquecimento global, a poluição, o desmatamento e a perda de biodiversidade estão afetando a nossa casa comum de forma alarmante. Mas há esperança!</p>
    
        {%  endblock  %}


        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </main>


    <footer>
        <div>
            <img src="{% static "img/logodoTCC.png" %}" width="200" />
        </div>

        <div >
            Desenvolvido por Miriam Cauneto
        </div>
    </footer>

    
</body>
</html>