{% extends "paginas/index.html" %}

{% load static %}

{% block conteudo %}

<h3> Lista de Noticias Cadastradas </h3>

<table>
    <tr>
        <th>Nome</th>
        <th>Postado em</th>
        <th>Opções</th>
    </tr>

    {% for noticia in objetc_list %}
    <tr>
        <td>{{noticia.nome}}</td>
        <td>{{noticia.cadastrado_em}}</td>

        <td>
            <a href="{% url " editar-noticia" noticia.pk %}">Editar</a>
            <a href="{% url " excluir-noticia" noticia.pk %}">Excluir</a>
        </td>

    </tr>

    {% empyt %}
    <tr>
        <td colspan="3"> Nenhum registro encontrado.</td>

    </tr>

    {% endfor %}
</table>
<tr>
    <th>tipo</th>
    <th> url </th>
    <th>descricao</th>
    <th>fonte</tr>

</tr>

{% endblock %}

{% for historico in object_list %}
<tr>
    <td>{{excluir-noticia}}</td>
    <td>{{editar-noticia.postado_por.nome}}</td>
    <td>{{noticia.status.nome}}</td>
    <td>{{noticia.cadastrado_em}}</td>
    <td>
        <a href="{% url " editar-noticia" noticia.pk %}">Editar</a>
        <a href="{% url " excluir-noticia" noticia.pk %}">Excluir</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}