 
 {% extends "paginas/index.html" %}

 {% load static %}

{% block conteudo %}

  <h3> Página Inicial </h3>
  <a href= "{% url "sobre" %}">
      
  </a>
<p> Os Impactos Ambientais causados pelo homem, são muitos vamos falar também sobre as suas diversas consequencias e mediddas de prevenção e mitigação. <p>
  <p> A degradação ambiental provocada pelas atividades humanas têm comprometido ecossistemas e biodiversidade. Fenômenos como aquecimento global,<p>
     poluição dos solos e águas, desmatamento e eventos climáticos extremos evidenciam a insustentabilidade dos atuais padrões de produção e consumo. <P>
</p>
{% endblock %}