 
 {% extends "paginas/index.html" %}

 {% load static %}

{% block conteudo %}

  <h3> Sobre Nós </h3>
  <a href= "{% url "sobre" %}">
      
  </a>
<p> Os Impactos Ambientais Causados pelo Homem
  A cada dia, o planeta enfrenta consequências cada vez mais graves devido às ações humanas. A degradação ambiental está em um ritmo acelerado e afeta diretamente a biodiversidade, os ecossistemas e a nossa própria qualidade de vida. Fenômenos como o aquecimento global, a poluição da água e do solo, o desmatamento e eventos climáticos extremos são apenas algumas das marcas de uma era marcada pela insustentabilidade.
  
  Esses problemas não afetam apenas o meio ambiente, mas também geram consequências profundas nas nossas economias, saúde e bem-estar. No entanto, embora muitos desses danos sejam irreversíveis, ainda existe um caminho a seguir. Prevenção e mitigação são fundamentais para minimizar os impactos, restaurar o equilíbrio ecológico e garantir um futuro sustentável para as próximas gerações.
  
  Neste espaço, você encontrará informações essenciais sobre os principais impactos ambientais, suas consequências e, mais importante ainda, as ações e soluções que todos podemos adotar para reverter esse cenário. Junte-se a nós na luta por um mundo mais equilibrado e saudável!
  <p> Por que isso é importante?</p>
  
  <p>🌍 O aquecimento global e suas consequências diretas no clima, nos ecossistemas e na vida cotidiana.  </p>
  
    <p>🌱 A perda de biodiversidade, que coloca em risco a estabilidade dos ecossistemas essenciais para nossa sobrevivência.  </p>
  
      <p>🌊 A poluição das águas e do solo, que compromete a saúde pública e a segurança alimentar.  </p>
  
        <p>🌳 O desmatamento e a destruição de habitats naturais, afetando a vida selvagem e contribuindo para a mudança climática.  </p>
  
        <p>Como podemos ajudar?  </p>
  
        <p>Reduzindo o consumo e promovendo a reciclagem.  </p>
  
        <p> Investindo em energias renováveis e opções sustentáveis.  </p>
  
        <p>Apoiar políticas públicas e iniciativas de preservação e restauração ambiental.  </p>
  
        <p>Adotando práticas mais responsáveis em nosso dia a dia, desde o transporte até o consumo alimentar.  </p>
  
  
</p>
{% endblock %}